## Import Library dan sklearn

In [36]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

#Data Split #testing dan training data
from sklearn.model_selection import train_test_split 
# untuk Data Transforming  #standarisasi #normalisasi
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import MinMaxScaler 
# untuk Data Cleaning #subtitusi nilai
from sklearn.impute import SimpleImputer 
# untuk Data Encoding #encoder #onehot
from sklearn.preprocessing import OrdinalEncoder 
from sklearn.preprocessing import OneHotEncoder

## Dataset 1 (librari usage)

In [2]:
df = pd.read_csv('Library_Usage.csv')
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,3,SENIOR,28,13,65 to 74 years,X,Main Library,November,2012,z,email,True,2003,True,NaN
1,0,ADULT,21,10,55 to 59 years,X,Main Library,October,2015,z,email,True,2003,False,NaN
2,0,ADULT,275,559,60 to 64 years,X,Main Library,January,2015,z,email,True,2003,True,NaN
3,0,ADULT,73,38,45 to 54 years,M8,Mission Bay,February,2016,z,email,True,2003,False,NaN
4,0,ADULT,182,90,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2337 entries, 0 to 2336
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patron Type Code              2337 non-null   int64
 1   Patron Type Definition        2337 non-null   object
 2   Total Checkouts               2337 non-null   int64
 3   Total Renewals                2337 non-null   int64
 4   Age Range                     2337 non-null   object
 5   Home Library Code             2337 non-null   object
 6   Home Library Definition       2337 non-null   object
 7   Circulation Active Month      2337 non-null   object
 8   Circulation Active Year       2337 non-null   object
 9   Notice Preference Code        2337 non-null   object
 10  Notice Preference Definition  2337 non-null   object
 11  Provided Email Address        2337 non-null   bool
 12  Year Patron Registered        2337 non-null   int64
 13  Outside of County             2337 non-null   bool
 14  Supervisor District           1800 non-null   float64
dtypes: bool(2), float64(1), int64(4), object(8)
memory usage: 242.0+ KB

## menampilkan data yang bermasalah

In [4]:
df.isna().sum()

Patron Type Code                  0
Patron Type Definition            0
Total Checkouts                   0
Total Renewals                    0
Age Range                         0
Home Library Code                 0
Home Library Definition           0
Circulation Active Month          0
Circulation Active Year           0
Notice Preference Code            0
Notice Preference Definition      0
Provided Email Address            0
Year Patron Registered            0
Outside of County                 0
Supervisor District             537
dtype: int64

In [5]:
print(f'banyak dataset {len(df)} baris')

banyak dataset 2337 baris

## Dataset 2 (libraries)

In [6]:
df2 = pd.read_csv('libraries.csv')
df2.head()

,State,Library ID,Submission Year,Library Name,Street Address,City,Zip Code,Longitude,Latitude,State Code,...,Children’s Programs,Young Adult Programs,Library Program Audience,Children’s Program Audience,Young Adult Program Audience,Public Internet Computers,Internet Computer Use,Wireless Internet Sessions,Start Date,End Date
0,AK,AK0001,2015.0,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,99556.0,-151.840007,59.779604,2.0,...,15.0,0.0,146.0,128.0,0.0,8.0,1675.0,0.0,07/01/2013,06/30/2014
1,AK,AK0002,2015.0,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,99503.0,-149.876781,61.187677,2.0,...,906.0,412.0,68778.0,41259.0,9656.0,135.0,138689.0,0.0,01/01/2013,12/31/2013
2,AK,AK0003,2015.0,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,99744.0,-149.178635,64.343598,2.0,...,7.0,0.0,16.0,16.0,0.0,4.0,480.0,0.0,07/01/2013,06/30/2014
3,AK,AK0006,2015.0,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,99559.0,-161.802957,60.785755,2.0,...,37.0,1.0,815.0,417.0,15.0,9.0,20000.0,0.0,07/01/2013,06/30/2014
4,AK,AK0007,2015.0,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,99652.0,-149.818403,61.546612,2.0,...,118.0,11.0,6316.0,3893.0,1396.0,22.0,11301.0,5148.0,07/01/2013,06/30/2014

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 74 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   State                                  2499 non-null   object
 1   Library ID                             2479 non-null   object
 2   Submission Year                        2479 non-null   float64
 3   Library Name                           2479 non-null   object
 4   Street Address                         2479 non-null   object
 5   City                                   2479 non-null   object
 6   Zip Code                               2479 non-null   float64
 7   Longitude                              2479 non-null   float64
 8   Latitude                               2479 non-null   float64
 9   State Code                             2479 non-null   float64
 10  County Code                            2479 non-null   float64
 11  County                                 2479 non-null   object
 12  County Population                      2479 non-null   float64
 13  Public Library Definition              2479 non-null   object
 14  Legal Basis                            2479 non-null   object
 15  Administrative Structure               2479 non-null   object
 16  Interlibrary Relationship              2479 non-null   object
 17  Service Population                     2479 non-null   float64
 18  Service Population Without Duplicates  2479 non-null   float64
 19  Central Libraries                      2479 non-null   float64
 20  Branch Libraries                       2479 non-null   float64
 21  Bookmobiles                            2479 non-null   float64
 22  MLS Librarians                         2479 non-null   float64
 23  Librarians                             2479 non-null   float64
 24  Employees                              2479 non-null   float64
 25  Total Staff                            2479 non-null   float64
 26  Local Government Operating Revenue     2479 non-null   float64
 27  State Government Operating Revenue     2479 non-null   float64
 28  Federal Government Operating Revenue   2479 non-null   float64
 29  Other Operating Revenue                2479 non-null   float64
 30  Total Operating Revenue                2479 non-null   float64
 31  Salaries                               2479 non-null   object
 32  Benefits                               2479 non-null   object
 33  Total Staff Expenditures               2479 non-null   object
 34  Print Collection Expenditures          2479 non-null   float64
 35  Digital Collection Expenditures        2479 non-null   float64
 36  Other Collection Expenditures          2479 non-null   float64
 37  Total Collection Expenditures          2479 non-null   float64
 38  Other Operating Expenditures           2479 non-null   object
 39  Total Operating Expenditures           2479 non-null   float64
 40  Local Government Capital Revenue       2479 non-null   float64
 41  State Government Capital Revenue       2479 non-null   float64
 42  Federal Government Capital Revenue     2479 non-null   float64
 43  Other Capital Revenue                  2479 non-null   float64
 44  Total Capital Revenue                  2479 non-null   float64
 45  Total Capital Expenditures             2479 non-null   float64
 46  Print Collection                       2479 non-null   float64
 47  Digital Collection                     2479 non-null   float64
 48  Audio Collection                       2479 non-null   float64
 49  Downloadable Audio                     2479 non-null   float64
 50  Physical Video                         2479 non-null   float64
 51  Downloadable Video                     2479 non-null   float64
 52  Local Cooperative Agreements           2479 non-null   float64
 53  State Licensed Databases               2479 non-null   float64
 54  Total Licensed Databases               2479 non-null   float64
 55  Print Subscriptions                    2479 non-null   float64
 56  Hours Open                             2479 non-null   float64
 57  Library Visits                         2479 non-null   float64
 58  Reference Transactions                 2479 non-null   float64
 59  Registered Users                       2479 non-null   float64
 60  Circulation Transactions               2479 non-null   float64
 61  Interlibrary Loans Provided            2479 non-null   float64
 62  Interlibrary Loans Received            2479 non-null   float64
 63  Library Programs                       2479 non-null   float64
 64  Children’s Programs                    2479 non-null   float64
 65  Young Adult Programs                   2479 non-null   float64
 66  Library Program Audience               2479 non-null   float64
 67  Children’s Program Audience            2479 non-null   float64
 68  Young Adult Program Audience           2479 non-null   float64
 69  Public Internet Computers              2479 non-null   float64
 70  Internet Computer Use                  2479 non-null   float64
 71  Wireless Internet Sessions             2479 non-null   float64
 72  Start Date                             2479 non-null   object
 73  End Date                               2479 non-null   object
dtypes: float64(58), object(16)
memory usage: 1.4+ MB

In [8]:
df2.isna().sum()

State                          0
Library ID                    20
Submission Year               20
Library Name                  20
Street Address                20
                              ..
Public Internet Computers     20
Internet Computer Use         20
Wireless Internet Sessions    20
Start Date                    20
End Date                      20
Length: 74, dtype: int64

In [9]:
print(f'banyak dataset {len(df2)} baris')

banyak dataset 2499 baris

## Dataset 3 (handwritten names)

In [10]:
df3 = pd.read_csv('handwritten_names.csv')
df3.head()

,_unit_id,image_url,transcription,first_or_last
0,952459271,images/D2M_15_0010079F_0002_1_first_name.jpg,HIMELIN,first
1,952459272,images/D2M_15_0010079F_0003_2_first_name.jpg,ROBIN,first
2,952459273,images/D2M_15_0010079F_0004_3_first_name.jpg,YOANN,first
3,952459274,images/D2M_15_0010079F_0005_4_first_name.jpg,MARTIN,first
4,952459275,images/D2M_15_0010079F_0006_5_first_name.jpg,CLEMENT,first

In [11]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   _unit_id       129971 non-null  int64
 1   image_url      129971 non-null  object
 2   transcription  129886 non-null  object
 3   first_or_last  129971 non-null  object
dtypes: int64(1), object(3)
memory usage: 4.0+ MB

In [12]:
df3.isna().sum()

_unit_id          0
image_url         0
transcription    85
first_or_last     0
dtype: int64

In [13]:
print(f'banyak dataset {len(df3)} baris')

banyak dataset 129971 baris

## Dataset 4 (interactions)

In [14]:
df4 = pd.read_csv('interactions.csv')
df4.head()

   user_id  item_id  progress  rating  start_date
0   126706    14433        80     NaN  2018-01-01
1   127290   140952        58     NaN  2018-01-01
2    66991   198453        89     NaN  2018-01-01
3    46791    83486        23     5.0  2018-01-01
4    79313   188770        88     5.0  2018-01-01

In [15]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1533078 entries, 0 to 1533077
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   user_id     1533078 non-null  int64
 1   item_id     1533078 non-null  int64
 2   progress    1533078 non-null  int64
 3   rating      285356 non-null   float64
 4   start_date  1533078 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 58.5+ MB

In [16]:
df4.isna().sum()

user_id             0
item_id             0
progress            0
rating        1247722
start_date          0
dtype: int64

In [17]:
print(f'banyak dataset {len(df4)} baris')

banyak dataset 1533078 baris

## Train dan Test

Digunakan untuk training data dan testing data. Data yang dipakai yaitu Library_Usage.csv

In [18]:
data = df2[['Wireless Internet Sessions']]
label = df2['Internet Computer Use']

data_train, data_test, label_train, label_test = train_test_split(data, label, test_size=.3)

In [19]:
print(f'banyak data training {len(data_train)}',
     f'banyak label training {len(label_train)}',
     f'banyak data testing {len(data_test)}',
     f'banyak label testing {len(label_test)}',
     sep='\n')

banyak data training 1749
banyak label training 1749
banyak data testing 750
banyak label testing 750

## Normalisasi dan Standarisasi

In [20]:
dataset_normalisasi = df3.copy()
dataset_standarirasi = df4.copy()

## Normalisasi

In [21]:
scaler = MinMaxScaler()

normalize_dataset = scaler.fit_transform(dataset_normalisasi[['_unit_id']])

normalize_dataset = pd.DataFrame(normalize_dataset)
normalize_dataset.rename(columns={ 0 :'_unit_id'}, inplace=True)

normalize_dataset.head(10)

   _unit_id
0  0.964204
1  0.964205
2  0.964205
3  0.964206
4  0.964206
5  0.964207
6  0.964207
7  0.964208
8  0.964208
9  0.964209

## Standarisasi

In [22]:
dataset_standarirasi.drop('start_date', axis=1, inplace=True)

standart_std = StandardScaler()

scaled_data = standart_std.fit_transform(dataset_standarirasi)

print('sebelum scalling:',  # SEBELUM
      df4.drop('start_date', axis=1).head(),
      f'Nilai deviasi:\n{np.std(df4)}',
      sep='\n', end='\n\n')

print('setelah scalling:',  # SESUDAH
      scaled_data[:5],
      f'Nilai deviasi: {np.std(scaled_data)}',
      sep='\n')

sebelum scalling:
   user_id  item_id  progress  rating
0   126706    14433        80     NaN
1   127290   140952        58     NaN
2    66991   198453        89     NaN
3    46791    83486        23     5.0
4    79313   188770        88     5.0
Nilai deviasi:
user_id     45965.121230
item_id     92913.106417
progress       38.352261
rating          0.866995
dtype: float64

setelah scalling:
[[ 1.02014841 -1.57128402  0.84328615         nan]
 [ 1.0328537  -0.20959238  0.26965634         nan]
 [-0.27898881  0.40927618  1.07795289         nan]
 [-0.71845246 -0.82808424 -0.64293653  0.48095755]
 [-0.01091598  0.30506052  1.05187881  0.48095755]]
Nilai deviasi: nan

C:\Users\MSi-MODERN\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

## Cleaning Data

membersihkan data yang null, duplikat atau rusak

In [23]:
dataset_1 = df.copy()
dataset_2 = df2.copy()
dataset_3 = df3.copy()

In [24]:
input_mean = SimpleImputer(strategy='mean')
input_median = SimpleImputer(strategy='median')
input_modus = SimpleImputer(strategy='most_frequent')

## Modus

In [25]:
dataset_1['Supervisor District'] = input_modus.fit_transform(dataset_1[['Supervisor District']])

dataset_1.isna().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Outside of County               0
Supervisor District             0
dtype: int64

## Mean

In [26]:
dataset_2[['Submission Year','Public Internet Computers','Wireless Internet Sessions']] = input_mean.fit_transform(dataset_2[['Submission Year','Public Internet Computers','Wireless Internet Sessions']])

dataset_2.isna().sum()

State                          0
Library ID                    20
Submission Year                0
Library Name                  20
Street Address                20
                              ..
Public Internet Computers      0
Internet Computer Use         20
Wireless Internet Sessions     0
Start Date                    20
End Date                      20
Length: 74, dtype: int64

## Menghapus Record

In [27]:
dataset_3.dropna(inplace=True)

dataset_3.isna().sum()

_unit_id         0
image_url        0
transcription    0
first_or_last    0
dtype: int64

In [28]:
len(dataset_3)

129886

## Menghapus Data Duplikat

In [29]:
dataset_duplikat = df.copy()

dataset_duplikat.duplicated().sum()

233

In [30]:
dataset_duplikat.drop_duplicates(inplace=True)

dataset_duplikat.duplicated().sum()

0

## Encoding

ONE HOT ENCODING dan ORDINAL ENCODING

In [31]:
dataset_onehot = df2.copy()
dataset_ordinal = df2.copy()

In [32]:
df2['Administrative Structure'].unique()

array(['SO', 'MO', 'MA', nan], dtype=object)

In [33]:
encoder_ordinal =OrdinalEncoder()

dataset_ordinal['Administrative Structure'] = encoder_ordinal.fit_transform(dataset_ordinal[['Administrative Structure']]).astype('int64')

dataset_ordinal.head(10)

,State,Library ID,Submission Year,Library Name,Street Address,City,Zip Code,Longitude,Latitude,State Code,...,Children’s Programs,Young Adult Programs,Library Program Audience,Children’s Program Audience,Young Adult Program Audience,Public Internet Computers,Internet Computer Use,Wireless Internet Sessions,Start Date,End Date
0,AK,AK0001,2015.0,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,99556.0,-151.840007,59.779604,2.0,...,15.0,0.0,146.0,128.0,0.0,8.0,1675.0,0.0,07/01/2013,06/30/2014
1,AK,AK0002,2015.0,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,99503.0,-149.876781,61.187677,2.0,...,906.0,412.0,68778.0,41259.0,9656.0,135.0,138689.0,0.0,01/01/2013,12/31/2013
2,AK,AK0003,2015.0,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,99744.0,-149.178635,64.343598,2.0,...,7.0,0.0,16.0,16.0,0.0,4.0,480.0,0.0,07/01/2013,06/30/2014
3,AK,AK0006,2015.0,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,99559.0,-161.802957,60.785755,2.0,...,37.0,1.0,815.0,417.0,15.0,9.0,20000.0,0.0,07/01/2013,06/30/2014
4,AK,AK0007,2015.0,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,99652.0,-149.818403,61.546612,2.0,...,118.0,11.0,6316.0,3893.0,1396.0,22.0,11301.0,5148.0,07/01/2013,06/30/2014
5,AK,AK0008,2015.0,CANTWELL COMMUNITY LIBRARY,1 SCHOOL ROAD,CANTWELL,99729.0,-148.757407,63.461051,2.0,...,23.0,1.0,169.0,116.0,3.0,1.0,700.0,500.0,07/01/2013,06/30/2014
6,AK,AK0011,2015.0,CHINIAK PUBLIC LIBRARY,43318 SPRUCE WAY,CHINIAK,99615.0,-152.232581,57.612229,2.0,...,49.0,0.0,388.0,369.0,0.0,11.0,436.0,200.0,07/01/2013,06/30/2014
7,AK,AK0014,2015.0,COLD BAY PUBLIC LIBRARY,10 BARANOV ROAD,COLD BAY,99571.0,-162.713392,55.206634,2.0,...,32.0,0.0,306.0,306.0,0.0,6.0,427.0,0.0,07/01/2013,06/30/2014
8,AK,AK0015,2015.0,COOPER LANDING COMMUNITY LIBRARY,MILE .8 BEAN CREEK ROAD,COOPER LANDING,99572.0,-150.010519,60.487401,2.0,...,8.0,1.0,1005.0,691.0,30.0,4.0,355.0,250.0,07/01/2013,06/30/2014
9,AK,AK0016,2015.0,CORDOVA PUBLIC LIBRARY,622 FIRST STREET,CORDOVA,99574.0,-145.766031,60.547995,2.0,...,135.0,0.0,3054.0,2525.0,0.0,5.0,6671.0,4522.0,01/01/2013,12/31/2013

In [34]:
dataset_ordinal['Administrative Structure'].unique()

array([                   2,                    1,                    0,
       -9223372036854775808], dtype=int64)

In [35]:
dataset = pd.get_dummies(dataset_onehot[['Administrative Structure']])

dataset = pd.DataFrame(dataset)

dataset_onehot.drop('Administrative Structure', axis=1, inplace=True)

dataset_onehot = dataset_onehot.join(dataset)
dataset_onehot.head(10)

,State,Library ID,Submission Year,Library Name,Street Address,City,Zip Code,Longitude,Latitude,State Code,...,Children’s Program Audience,Young Adult Program Audience,Public Internet Computers,Internet Computer Use,Wireless Internet Sessions,Start Date,End Date,Administrative Structure_MA,Administrative Structure_MO,Administrative Structure_SO
0,AK,AK0001,2015.0,ANCHOR POINT PUBLIC LIBRARY,72551 MILO FRITZ AVENUE,ANCHOR POINT,99556.0,-151.840007,59.779604,2.0,...,128.0,0.0,8.0,1675.0,0.0,07/01/2013,06/30/2014,0,0,1
1,AK,AK0002,2015.0,ANCHORAGE PUBLIC LIBRARY,3600 DENALI STREET,ANCHORAGE,99503.0,-149.876781,61.187677,2.0,...,41259.0,9656.0,135.0,138689.0,0.0,01/01/2013,12/31/2013,0,1,0
2,AK,AK0003,2015.0,ANDERSON VILLAGE LIBRARY,101 FIRST STREET,ANDERSON,99744.0,-149.178635,64.343598,2.0,...,16.0,0.0,4.0,480.0,0.0,07/01/2013,06/30/2014,0,0,1
3,AK,AK0006,2015.0,KUSKOKWIM CONSORTIUM LIBRARY,420 CHIEF EDDIE HOFFMAN HIGHWAY,BETHEL,99559.0,-161.802957,60.785755,2.0,...,417.0,15.0,9.0,20000.0,0.0,07/01/2013,06/30/2014,0,0,1
4,AK,AK0007,2015.0,BIG LAKE PUBLIC LIBRARY,3140 SOUTH BIG LAKE ROAD,BIG LAKE,99652.0,-149.818403,61.546612,2.0,...,3893.0,1396.0,22.0,11301.0,5148.0,07/01/2013,06/30/2014,0,0,1
5,AK,AK0008,2015.0,CANTWELL COMMUNITY LIBRARY,1 SCHOOL ROAD,CANTWELL,99729.0,-148.757407,63.461051,2.0,...,116.0,3.0,1.0,700.0,500.0,07/01/2013,06/30/2014,0,0,1
6,AK,AK0011,2015.0,CHINIAK PUBLIC LIBRARY,43318 SPRUCE WAY,CHINIAK,99615.0,-152.232581,57.612229,2.0,...,369.0,0.0,11.0,436.0,200.0,07/01/2013,06/30/2014,0,0,1
7,AK,AK0014,2015.0,COLD BAY PUBLIC LIBRARY,10 BARANOV ROAD,COLD BAY,99571.0,-162.713392,55.206634,2.0,...,306.0,0.0,6.0,427.0,0.0,07/01/2013,06/30/2014,0,0,1
8,AK,AK0015,2015.0,COOPER LANDING COMMUNITY LIBRARY,MILE .8 BEAN CREEK ROAD,COOPER LANDING,99572.0,-150.010519,60.487401,2.0,...,691.0,30.0,4.0,355.0,250.0,07/01/2013,06/30/2014,0,0,1
9,AK,AK0016,2015.0,CORDOVA PUBLIC LIBRARY,622 FIRST STREET,CORDOVA,99574.0,-145.766031,60.547995,2.0,...,2525.0,0.0,5.0,6671.0,4522.0,01/01/2013,12/31/2013,0,0,1